<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Aditya0419/Travel-Accommodation-Platform-"><i class="fa-brands fa-square-github"></i></a>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited - made with &hearts; by Aditya Mahajan</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>